In [4]:
print("0 to 20 by using range:")

for i in range (0,20):
    print(i)

0 to 20 by using range:
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
print("range 10 to 20")
print("10,11,12,13,14,15,16,1,18,19")

range 10 to 20
10,11,12,13,14,15,16,1,18,19

In [2]:
num_list=[10,20,14,55,43,87,76]
print(len(num_list))

7

In [5]:
for i in ('Artificial intelligence'):
    print(i)

A
r
t
i
f
i
c
i
a
l

i
n
t
e
l
l
i
g
e
n
c
e

In [6]:
print("-your name-")
print("-your age-")
print("-your profession")

-your name-
-your age-
-your profession

In [12]:
list = (20,10,16,276,19,25,1,188)
for i in list:
    if i %2 ==1:
        print(i,"is odd")
    else:
        print(i,"is even")

20 is even
10 is even
16 is even
276 is even
19 is odd
25 is odd
1 is odd
188 is even

In [13]:
tuples=(1,'welcome',2,'hope')
print("tuple with mixed datatypes =", tuples)

tuple with mixed datatypes = (1, 'welcome', 2, 'hope')

In [14]:
tuple1=(0,1,2,3,4)
tuple2=('python','hope')
tuple3=(tuple1,tuple2)
print ("tuple with nested tuple =",tuple3)

tuple with nested tuple = ((0, 1, 2, 3, 4), ('python', 'hope'))

In [15]:
tuple1= ('ramya')
n=5
print("tuple with loop:")
for i in range(5):
    print (tuple1)

tuple with loop:
ramya
ramya
ramya
ramya
ramya

In [16]:
tuple1=('ramya,')*3
print("tuple with repetitions=",tuple1)

tuple with repetitions= ramya,ramya,ramya,